
:root {
    --main-color: #ffcc00; /* Yellow */
    --secondary-color: #0055ff; /* Blue */
    --accent-color: #ff5733; /* Orange */
    --background-color: #f0f0f0; /* Light Gray */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background-color);
    color: var(--font-color);
    line-height: 1.6;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

header {
    text-align: center;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

header img {
    width: 150px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: var(--primary-color);
    display: flex;
    justify-content: space-around;
}

.hero {
    position: relative;
    text-align: center;
}

.hero-img {
    width: 100%;
    height: auto;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

article {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 80%;
}

article img {
    float: right;
    margin-left: 10px;
}

section {
    padding: 20px;
    text-align: center;
}

section img {
    width: 200px;
    margin: 10px;
}

.history-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.adventure-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.adventure-section figure {
    margin: 10px;
    text-align: center;
    flex: 1;
}

.adventure-section img {
    width: 100%;
    height: auto;
    max-width: 200px;
}

.adventure-section figcaption {
    font-style: italic;
    margin-top: 5px;
    color: #333;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: var(--secondary-color);
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

footer a img {
    width: 30px;
    margin: 0 10px;
}

footer a {
    text-decoration: none;
    margin-left: 10px;
}

footer a:hover img {
    opacity: 0.8;
}
