body {
    font-family: Arial, sans-serif; 
}

nav {
    background-color: steelblue;
    padding: 10px;
}

aside {
    width: 300px; 
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #eeeeee;
    color: #333; 
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    max-width: 100%;
    height: auto;
}

p {
    padding: 0;
}
